*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/nemms-common/target/
/nemms-common/.settings/
/nemms-common/.classpath
/nemms-domain/target/
/nemms-domain/.settings/
/nemms-domain/.classpath
/nemms-web/target/
/nemms-web/.settings/
/nemms-web/.classpath
/nemms-web1/target/
/nemms-web1/.settings/
/nemms-web1/.classpath
/nemms-data/target/
/nemms-data/.settings/
/nemms-data/.classpath
.project
.classpath
.settings
*/logs/
